.container-clientes {
    display: flex;

    .container-paginator {
        display: flex;
        justify-content: center;
        margin-top: 22px;
    }

    .container-pesquisa-inputs {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .botao-inputs {
            margin-top: 26px;
        }
    }
    
    .container-stepper {
        display: flex;
        gap: 26px;
        margin-left: 28px;
    
        .button-stepper {
            font-size: 14px;
            font-weight: 600;
            box-shadow: none;
            background-color: transparent;
            border: none;
            width: 80px;
        
            &:hover {
                background-color: 'transparent';
                box-shadow: none;
            }
        }
    }
}