.container-list {
   display: flex;
   flex-direction: column;
   background-color: #FFFFFF;
   border-radius: 8px;
   height: 592px;
   width: auto;
   margin: 16px;
   border-radius: 32px;
   padding: 0 56px;

}