.container-sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191919;
    height: 1094px;
    width: 280px;
    gap: 28px;
    padding-top: 46px;

    .link-navs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 26px;
        margin-top: 22px;

        .nav-icon {
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 16px;

            a {
                font-size: 16px;
                font-weight: 400;
                color: #fff;
            }
        }

        .logout {
            margin-top: 228px;
            background-color: #FF698D;
            padding: 12px 46px;
            border-radius: 4px;
        }
    }
}