.container-table {
    display: flex;
    padding: 4px;
    background-color: #fff;
    height: 500px;
    width: 1116px;
    border-radius: 16px;
    margin-left: 26px;
    margin-right: 16px;

    table {
        width: 100%;
        
        tr {
            color: #000;
            font-size: 16px;
            font-weight: 600;
            
            th {
                padding: 16px 32px;
                text-align: left;
                border-bottom: 1px solid #E8E8E8;
            }

            td {
                font-weight: 400;
                padding: 0px 32px;
                border-bottom: 1px solid #E8E8E8;
            }
        }
    }
}

.container-exclusao {
    display: flex;
    gap: 12px;
    border-top: 1px solid #ECECEC;
    padding-top: 18px;

    .botao-excluir {
        font-size: 10px;
        font-weight: 600;
        width: 80px;
        background-color: #FF698D;
        color: #fff;
        padding: 4px 56px;
    }
} 
  