.container-cadastro {
    margin: 0px 88px;

    h1 {
        font-size: 22px;
        font-weight: 400;
        color: #878787;
        margin-bottom: 8px;
        margin-top: 40px;
        text-align: left;
    }

    .content {
        background-color: #FBFCFE;
        border-radius: 10px;
        padding: 68px;
        
        h2 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            font-weight: 600;
            color: #878787;
            border-bottom: 1px solid #ECECEC;
            padding-bottom: 24px;
            margin-bottom: 64px;
        }

        .content-input {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            justify-content: center;
            gap: 26px 88px;
        }

        .content-button {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .item-ultimo {
            align-items: center;
            align-self: center;
            justify-content: center;
            grid-column: 1 / -1;
            margin: 0px 36%;
            margin-top: 24px;
            margin-left: 16px;
        }
    }
}

